<%= notice %>

<%= render @friend %>
<br>
  <div>
    <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-secondary btn-sm" %> 
    <%= link_to "Back to friends", friends_path, class:"btn btn-secondary btn-sm" %>   
  </div>
</center>